<ion-header>
  <ion-navbar>
    <ion-title>
      Images by unsplash.it
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let post of posts">
    <div tappable (click)="openPost($event, post)">
      <img src="{{ 'assets/img/' + post.image }}" />
    </div>
  </ion-card>

  <ion-fab *ngIf="showScrollButton" [@fadeInOut]="showScrollButton" right bottom>
    <button ion-fab color="primary" mini (click)="scrollToTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
